/* Reset margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--roboto);
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: var(--poppins);
  color: var(--accent-color);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}
