
/* Global Css File */
@import url(../css/global.css);


.interest:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  color: #aaa;  /* softer than text so it looks like a divider */
}

.header-area .navbar .navbar-brand{
  padding: 0 5rem 0 10rem;
}

.header-area .navbar {
  padding: 1rem 10rem;
}

.header-area .navbar .navbar-brand img{
  width: 8vw;
  border-radius: 50%;
}